Repository CodingKoopa/lionbot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: analysis:shfmt, analysis:shellcheck, analysis:eslint

analysis:shfmt:
  stage: analyze
  image: mvdan/shfmt:latest-alpine
  script:
  - shfmt -d CI

analysis:shellcheck:
  stage: analyze
  image: koalaman/shellcheck-alpine:stable
  script:
  - shellcheck -x CI/**/*.sh

analysis:eslint:
  stage: analyze
  cache:
    paths:
    - .npm/
  image: node:latest
  before_script:
  - npm ci --cache .npm --prefer-offline
  script:
  - npm run lint

Test disabling GIT_STRATEGY.
  .gitlab-ci.yml
Due: none

Disable upper camel case rules.
  .eslintrc.js
Due: none

Add graduation.
  Source/Commands/Graduate.js
  Source/Discord.js
  Source/Models/UserRoleAction.js
  Source/State.js
  env.json
Due: analysis:eslint

Bump NPM version.
  package-lock.json
  package.json
Due: none

Update CI.
  .gitlab-ci.yml
  CI/Build/Docker.sh
  CI/Common/GetTagLong.sh
  CI/Common/GetTagLongLatest.sh
  CI/Common/GetTagShort.sh
  CI/Common/Login.sh
  CI/Deploy/Docker.sh
  CI/build.sh
  CI/common.sh
  CI/deploy.sh
Due: analysis:shfmt, analysis:shellcheck

Fix script glob.
  .gitlab-ci.yml
Due: none

Make scripts executable.
  CI/build.sh
  CI/common.sh
  CI/deploy.sh
Due: analysis:shfmt, analysis:shellcheck

Push all tags.
  CI/deploy.sh
Due: analysis:shfmt, analysis:shellcheck

Push to the target architecture.
  CI/deploy.sh
Due: analysis:shfmt, analysis:shellcheck

Bump NPM version.
  package.json
Due: none

lockfile: update
  package-lock.json
Due: none

package: update name
  package.json
Due: none

gitignore: accomodate more extensions
  .gitignore
Due: none

package: update googleapis
  package.json
Due: none

google: move to Service Account, internalize auth
  Source/Google.js
  Source/Server.js
Due: analysis:eslint

package: update discord.js
  Source/Discord.js
  Source/Models/Command.js
  package.json
Due: analysis:eslint

discord: store role as Role object
  Source/Commands/Graduate.js
  Source/Commands/Process.js
  Source/Discord.js
  Source/State.js
Due: analysis:eslint

gitignore: update for Google changes
  .gitignore
Due: none

server: fix static method access
  Source/Server.js
Due: analysis:eslint

all: print the exception stack trace when possible
  Source/Models/Command.js
  Source/Server.js
Due: analysis:eslint

server: fix in-discord error logging
  Source/Server.js
Due: analysis:eslint

all: guard against caching
  Source/Models/Command.js
  Source/Server.js
Due: analysis:eslint

package: update lockfile
  package-lock.json
Due: none

env: update for non-hardcoded roles
  env.json
Due: none

packge: bump version
  package-lock.json
  package.json
Due: none

readme: whitespace
  Readme.md
Due: none

docs: update for new google auth
  Readme.md
  Source/Google.js
Due: analysis:eslint

docs: update for discord changes
  Readme.md
Due: none

meta: fix EC markdown false positive
  .editorconfig
Due: none

discord: update status
  Source/Discord.js
Due: analysis:eslint

ci: setup temp Docker Hub soln
  .gitlab-ci.yml
  CI/deploy.sh
Due: analysis:shfmt, analysis:shellcheck

ci: actually commit
  CI/common.sh
  CI/deploy.sh
Due: analysis:shfmt, analysis:shellcheck

ci: update login
  CI/common.sh
Due: analysis:shfmt, analysis:shellcheck

ci: this was supposed to be changed
  CI/deploy.sh
Due: analysis:shfmt, analysis:shellcheck

ci: fix tag names
  CI/common.sh
Due: analysis:shfmt, analysis:shellcheck

ci: again
  CI/common.sh
Due: analysis:shfmt, analysis:shellcheck

package: bump ver
  package.json
Due: none

dockerfile: try to resolve the uid issue
  Dockerfile
Due: none

server: check for updates every 5 minutes
  Source/Server.js
Due: analysis:eslint

Path conditions:
  analysis:shfmt: any of: CI/**/*.sh
  analysis:shellcheck: any of: CI/**/*.sh
  analysis:eslint: any of: Source/*.js, Source/**/*.js
